<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="../assets/layout.css">
        
    </head>

    <body>
        <%- include("header") %>

        <%- body %>


        <%- include('footer') %>

        
    </body>
</html>